html {
    font-size:  16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
img {
    width: 100px;
}
h2 {
    color:rgb(14, 63, 227) ;
    border: 1px solid rgb(14, 63, 227);
    font-size: 3rem;

}